bin/
obj/
out/
Debug*/
Release*/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
_ReSharper*/
.idea/
*.DotSettings.user
packages/
*.nupkg
*.snupkg
*.nuspec
*.psmdcp
project.lock.json
project.fragment.lock.json
TestResults/
*.coverage
*.coveragexml
publish/
dist/
*.log
*.tmp
*.temp
*.bak
*.swp
*.cache
*.dbmdl
*.dbproj.schemaview
*.vspscc
*.vssscc
*.ruleset
.cr/
*.tlog
*.pdb
*.mdb
*.aps
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.diagsession